.seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

/* Estados de los asientos */
.disponible {
    background-color: blue;
}

.ocupado {
    background-color: gray;
    pointer-events: none; /* Evita que se pueda seleccionar */
}

.seleccionado {
    background-color: lightgray;
}
